/* html, */
body {
  height: 100%;
}

.logo
{
    border-radius: 200px;
}
*{
  margin: 0px;
  padding: 0px;
}

.bckimg{
  background: local;
}

.mydiv {
  width:100%;
  height:100%;
  color:black;
  font-weight:bold;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}

.zoom {
    padding: 70px;
    background-color: green;
    background-image: url(./image.png);
    transition: transform .2s; /* Animation */
    width: 20px;
    height: 20px;
    margin: 0 auto;
    /* position: absolute; */
    text-align: left;
    color: aqua;
    filter: drop-shadow(10px 10px 10px #A4BBFF);
  }

  .zoom a{
    text-decoration: none;
    color: aqua;
  }
  
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .d1{
    display: flex;
    flex-direction: row;
    padding: .00002px;
    text-align: center;
  }

 /* .trials {
  margin-top: 100px;
  position: relative;
  text-align: center;
 }

 .trials img {
  width: 100%;
 }

 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;

 } */

 body {
  background-image: url(./bg1.png);
 }